openapi: 3.1.0
info:
  title: Trident REST API
  description: |
    Real-time indexing and event querying for Soroban contract events.

    ## API Stability & Compatibility Promise

    The `/v1/` REST API surface is **frozen and stable**. For the complete backward-compatibility guarantees, deprecation lifecycle, and versioning rules, see the [API Stability Policy](https://github.com/Telocel-Labs/Trident/blob/dev/docs/API_STABILITY.md).

    ## Request validation

    Every endpoint validates its parameters before doing any work and answers a
    malformed request with `400` and the `ErrorResponse` envelope, where
    `error.code` is `INVALID_ARGUMENT` and `error.message` names the field that
    failed:

    ```json
    {"error": {"code": "INVALID_ARGUMENT", "message": "limit must be an integer between 1 and 200"}}
    ```

    Rules shared across endpoints:

    - `contractId` — Stellar contract strkey: `C` followed by 55 uppercase
      base32 characters.
    - path ids — canonical UUID v4.
    - ledger ranges — non-negative integers; the upper bound must be greater
      than or equal to the lower bound.
    - `limit` — an integer within the range documented for that endpoint.
    - `cursor` — an opaque cursor from a previous response; anything else is
      rejected rather than silently ignored.
    - `network` — `testnet` or `mainnet`.
    - Unknown query parameters are rejected, so a typo such as `?limitt=5`
      fails loudly instead of silently changing the page size.

    ## Pagination

    Every list endpoint returns the same keyset-pagination envelope: the item
    array, `has_more`, and `next_cursor`.

    `next_cursor` is **always present** in the response object. When there is
    no further page it is the explicit JSON value `null` — it is never omitted:

    ```json
    {"contracts": [], "has_more": false, "next_cursor": null}
    ```

    This is the normative wire form for every list endpoint. Explicit `null`
    is used rather than an omitted key because the two are not equivalent to a
    strictly-typed client: an omitted key cannot be distinguished from a server
    too old to send the field, whereas `null` unambiguously means "no next
    page". Fixing the representation across all list endpoints is what lets an
    SDK auto-pager loop on one rule — *stop when `next_cursor` is `null`* —
    with no per-endpoint special-casing.

    Treat the cursor as opaque: pass back exactly the value you received, and
    never construct or parse one.
  version: 1.0.0
  contact:
    name: Trident Team
  license:
    name: Apache 2.0

servers:
  - url: https://api.trident.telocel.com
    description: Production
  - url: http://localhost:3000
    description: Development

security:
  - ApiKeyAuth: []

paths:
  /v1/health:
    get:
      summary: Liveness check
      description: >-
        Cheap process-liveness check (issue #243) — no dependency calls (no
        Postgres/Redis/gRPC). Always 200 while the process is up and serving
        requests. Intended for Kubernetes' liveness probe. For dependency
        health (Postgres/Redis/gRPC), see GET /v1/ready instead.
      operationId: getHealth
      tags:
        - System
      security: []
      responses:
        "200":
          description: Process is alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LivenessResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/ready:
    get:
      summary: Readiness check
      description: >-
        Verifies Postgres, Redis, and the gRPC backend concurrently, each
        with a 3-second timeout (issue #243). Returns 503 if any dependency
        check fails. Intended for Kubernetes' readiness probe / Fly's HTTP
        service check, so a pod with a broken dependency is pulled out of
        rotation instead of continuing to receive traffic it can't serve.
      operationId: getReady
      tags:
        - System
      security: []
      responses:
        "200":
          description: All dependencies reachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "503":
          description: >-
            Either one or more dependencies is unreachable (ReadyResponse
            body, status "degraded", the failing entry in checks set to
            "error: ..."), or the server is shedding load under the global
            concurrency cap (ErrorResponse body, Retry-After header set) —
            the same outermost load-shedding behavior every endpoint shares.
          headers:
            Retry-After:
              $ref: "#/components/headers/Retry-After"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ReadyResponse"
                  - $ref: "#/components/schemas/ErrorResponse"

  /v1/version:
    get:
      summary: Build and schema version
      description: >-
        Reports which build is running — semantic version tag, git commit
        SHA, build timestamp, and the highest applied database migration
        (issue #397). Answers "which build is live?" during an incident
        without reading GHCR tags or pod specs.

        Authenticated: the commit SHA and schema version narrow the search
        for known-vulnerable code paths, so this is not public. Use
        /v1/ready for an unauthenticated liveness signal.

        When the database is unreachable the endpoint still returns 200 with
        build metadata and a null schema_version, so it stays usable during
        exactly the outage you need it for.
      operationId: getVersion
      tags:
        - System
      responses:
        "200":
          description: Build metadata for the running instance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"

  /v1/events:
    get:
      summary: List Soroban contract events
      description: Query events with optional filtering by contract, topics, and ledger range
      operationId: listEvents
      tags:
        - Events
      parameters:
        - name: contractId
          in: query
          schema:
            type: string
            pattern: "^C[A-Z2-7]{55}$"
          description: Filter by Soroban contract address (strkey format, 56 chars starting with C)
          example: CA7QYNF7SOWQ3GLR2BGMZEHXAVIRZA4KVWLTJJFC7MGXUA74P7UJVSGZ
        - name: topic0
          in: query
          schema:
            type: string
          description: Filter by primary topic (XDR-encoded)
        - name: topic1
          in: query
          schema:
            type: string
          description: Filter by secondary topic (XDR-encoded)
        - name: ledgerFrom
          in: query
          schema:
            type: integer
            minimum: 0
          description: Lower bound of ledger range (inclusive)
        - name: ledgerTo
          in: query
          schema:
            type: integer
            minimum: 0
          description: Upper bound of ledger range (inclusive)
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Maximum number of events to return
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque pagination cursor from previous response's next_cursor (for next page)
      responses:
        "200":
          description: List of events with pagination metadata
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/events/{id}:
    get:
      summary: Get a single event by ID
      description: Retrieve a specific event by its UUID
      operationId: getEvent
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event UUID (v4)
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        "200":
          description: Event details
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - event
                properties:
                  event:
                    $ref: "#/components/schemas/SorobanEvent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/events/stream:
    get:
      summary: Stream events (Server-Sent Events)
      description: Real-time event stream using Server-Sent Events (SSE)
      operationId: streamEvents
      tags:
        - Events
      parameters:
        - name: contractId
          in: query
          schema:
            type: string
            pattern: "^C[A-Z2-7]{55}$"
          description: Contract to subscribe to
          required: true
        - name: topic0
          in: query
          schema:
            type: string
          description: Optional topic filter
      responses:
        "200":
          description: Server-Sent Events stream
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            text/event-stream:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/events/batch:
    post:
      summary: Get multiple events by ID
      description: |
        Retrieve multiple events in a single request (up to 100 ids).

        Batch contract:
        - `events` and `missing` both preserve the request order of `ids`.
        - Duplicate ids are deduplicated on first occurrence; each unique id
          appears at most once in the response, in `events` or in `missing`.
        - A request with more than 100 ids (duplicates included) is rejected
          with `400 INVALID_ARGUMENT`; so is any id that is not a UUID v4.
        - Ids that are valid but not indexed do not fail the request; they
          are listed in `missing` and the found events are still returned.
      operationId: batchGetEvents
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                  maxItems: 100
                  description: >-
                    List of event UUIDs. Duplicates are deduplicated on first
                    occurrence; the 100-id limit counts duplicates.
              example:
                ids:
                  - 550e8400-e29b-41d4-a716-446655440000
                  - 550e8400-e29b-41d4-a716-446655440001
      responses:
        "200":
          description: |
            Batch result. Always returns 200 even when some IDs are not found;
            check `missing` for unresolved IDs.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - events
                  - missing
                properties:
                  events:
                    type: array
                    description: Found events, in request order (deduplicated).
                    items:
                      $ref: "#/components/schemas/SorobanEvent"
                  missing:
                    type: array
                    description: >-
                      Ids that are valid UUIDs but not indexed, in request
                      order. Empty array when every id was found.
                    items:
                      type: string
                      format: uuid
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/contracts/{id}/events/schema:
    get:
      summary: Get per-contract event schemas
      description: Returns the observed event names and typed field schemas for one contract version.
      operationId: getContractEventSchemas
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
      responses:
        "200":
          description: >-
            Contract event schema registry entry. Cached for 5 minutes
            (issue #221) — see X-Cache.
          headers:
            X-Cache:
              $ref: "#/components/headers/X-Cache"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractEventSchemaResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/contracts/{id}/spec:
    get:
      summary: Get a contract's parsed spec and detected interfaces
      description: Returns the functions captured from a tracked contract's spec (contractmeta / SEP-48) and the standard interfaces detected from them (e.g. SEP-41 token, NFT).
      operationId: getContractSpec
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
      responses:
        "200":
          description: >-
            Contract spec and detected interfaces. Cached for 5 minutes
            (issue #221) — see X-Cache.
          headers:
            X-Cache:
              $ref: "#/components/headers/X-Cache"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractSpecResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/contracts/{id}/metadata:
    get:
      summary: Get SEP-41 token metadata for a contract
      description: >-
        Returns the token name, symbol, and decimals for a contract that
        implements the SEP-41 read interface (issue #263).

        Served from the `token_metadata` table, which the indexer populates
        and refreshes; this endpoint never calls the Stellar RPC itself.

        Always answers 200 for a well-formed contract id, never 404. A
        contract that has not been resolved yet and one that was resolved and
        is not a token both return `is_token: false` with the remaining
        fields null — the two cases are indistinguishable from this endpoint,
        matching the resolver's own cached negative result.
      operationId: getTokenMetadata
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
      responses:
        "200":
          description: Token metadata, or is_token false when not a resolved token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenMetadataResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/contracts/{id}/storage:
    get:
      summary: Get a contract's latest storage snapshot values
      description: Returns the most recently observed value for every storage key snapshotted for a tracked contract.
      operationId: getContractStorageLatest
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
      responses:
        "200":
          description: Latest known value per storage key
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractStorageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/contracts/{id}/storage/history:
    get:
      summary: Get the change history of a single contract storage key
      description: Returns every recorded change for one storage key, oldest first, for a tracked contract.
      operationId: getContractStorageHistory
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
        - name: key
          in: query
          required: true
          schema:
            type: string
          description: Storage key to fetch history for, as returned by the storage/spec endpoints
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Maximum number of history entries to return
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque pagination cursor from previous response's next_cursor (for next page)
      responses:
        "200":
          description: Recorded changes for the requested storage key
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractStorageHistoryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/stats/indexer:
    get:
      summary: Get indexer statistics
      description: >-
        Returns real-time indexer health metrics, throughput, and the public
        data-freshness contract (lag_ledgers, lag_seconds_estimated,
        last_ledger_indexed) — see docs/observability/data-freshness.md
      operationId: getIndexerStats
      tags:
        - Statistics
      security: []
      responses:
        "200":
          description: Indexer statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexerStatsResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/stats/contracts:
    get:
      summary: Get contract activity statistics
      description: Returns contracts sorted by event count with optional ledger range filtering
      operationId: getContractStats
      tags:
        - Statistics
      parameters:
        - name: from_ledger
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Lower bound of ledger range (inclusive, default 0 for all time)
        - name: to_ledger
          in: query
          schema:
            type: integer
            minimum: 0
          description: Upper bound of ledger range (inclusive, default latest indexed)
        - name: network
          in: query
          schema:
            type: string
            enum: [testnet, mainnet]
            default: testnet
          description: Network to query
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Number of top contracts to return
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque pagination cursor from previous response's next_cursor (for next page)
      responses:
        "200":
          description: >-
            Contract activity statistics. X-Cache indicates whether this
            response was served from the 60s Redis response cache (HIT) or
            freshly computed (MISS).
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
            X-Cache:
              $ref: "#/components/headers/X-Cache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractStatsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/api-keys:
    post:
      summary: Create an API key
      description: Generate a new API key for authentication
      operationId: createApiKey
      tags:
        - API Keys
      security:
        - AdminKey: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: Human-readable label for this key
                network:
                  type: string
                  enum: [testnet, mainnet]
                  default: mainnet
                  description: Network this key is associated with
                rate_limit_tier:
                  type: string
                  enum: [free, standard, premium, internal]
                  default: standard
                  description: Rate limit tier for this key
      responses:
        "201":
          description: API key created
          headers:
            Idempotent-Replayed:
              $ref: "#/components/headers/Idempotent-Replayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"

    get:
      summary: List API keys
      description: >-
        List API keys (admin only), keyset-paginated (issue #220). Ordered
        newest first (created_at DESC, id DESC as tiebreaker); cursor is
        opaque — never construct or parse it, just pass back the value
        returned in next_cursor.
      operationId: listApiKeys
      tags:
        - API Keys
      security:
        - AdminKey: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: cursor
          in: query
          required: false
          description: Opaque pagination cursor from a previous response's next_cursor.
          schema:
            type: string
      responses:
        "200":
          description: Page of API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAPIKeysResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"

  /v1/api-keys/{id}/rotate:
    post:
      summary: Rotate an API key
      description: >-
        Mint a replacement key that inherits the label, network, and
        rate-limit tier of the key identified by `id` (admin only). The
        plaintext key is returned once, in this response, and cannot be
        retrieved again. The existing key is not revoked by this call —
        revoke it with DELETE /v1/api-keys/{id} once callers have moved
        over, which evicts it from the auth cache immediately.
      operationId: rotateApiKey
      tags:
        - API Keys
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID of the active key to rotate
      responses:
        "201":
          description: Replacement key created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No active API key with that id
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "500":
          description: Rotation failed

  /v1/api-keys/{id}:
    patch:
      summary: Update an API key
      description: >-
        Update an API key's label and/or rate-limit tier (admin only). At
        least one of the two fields must be present. A tier change takes
        effect immediately — the shared tier cache is invalidated on success.
        Only active (non-revoked) keys can be updated.
      operationId: updateApiKey
      tags:
        - API Keys
      security:
        - AdminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: API key ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                label:
                  type: string
                  description: New display label for the key
                rate_limit_tier:
                  type: string
                  description: New rate-limit tier name
      responses:
        "200":
          description: The updated API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Admin API key is not configured on the server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: API key not found (or already revoked)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "413":
          description: Request body exceeds the 1 MiB limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    delete:
      summary: Delete an API key
      description: Revoke and delete an API key (admin only)
      operationId: deleteApiKey
      tags:
        - API Keys
      security:
        - AdminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: API key ID
      responses:
        "204":
          description: API key deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: API key not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"

  /v1/admin/db:
    get:
      summary: Database admin statistics
      description: Returns database and connection pool statistics (admin only)
      operationId: getAdminDbStats
      tags:
        - Admin
      security:
        - AdminKey: []
      responses:
        "200":
          description: Database statistics
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [pools, stats]
                properties:
                  pools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  stats:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "502":
          description: >-
            The PgBouncer admin console could not be read. It is the upstream
            here, so a failure to reach it is a bad-gateway condition rather
            than an error in this service (see handlers/admin.go).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: >-
            The endpoint is not configured — ADMIN_API_KEY or
            PGBOUNCER_ADMIN_URL is unset, so no stats source exists. Deploying
            without PgBouncer is a supported configuration.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/admin/keys/{id}/usage:
    get:
      summary: API key usage report
      description: >-
        Per-key usage over a time window (admin only), aggregated from the
        audit log. Both `from` and `to` are required RFC 3339 timestamps; the
        window may not exceed 31 days. Unknown query parameters are rejected.
      operationId: getAdminKeyUsage
      tags:
        - Admin
      security:
        - AdminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: API key ID
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Window start (RFC 3339)
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Window end (RFC 3339); must be >= from, window <= 31 days
      responses:
        "200":
          description: Usage aggregates for the key over the window
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminKeyUsageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "500":
          description: Usage query failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/admin/contracts:
    post:
      summary: Register a contract for indexing
      description: >-
        Register (or re-register) a contract in the indexing allowlist (admin
        only). Upserts on (contract_id, network) — re-registering an existing
        contract updates its label and index_from and still returns 201.
      operationId: createAdminContract
      tags:
        - Admin
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractRegistrationRequest"
      responses:
        "201":
          description: Contract registered (created or updated)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: Request body exceeds the 1 MiB limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "500":
          description: Registration failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      summary: List registered contracts
      description: >-
        Keyset-paginated list of contracts registered for indexing (admin
        only). `limit` outside 1..200 silently falls back to the default of
        100; unknown query parameters are ignored.
      operationId: listAdminContracts
      tags:
        - Admin
      security:
        - AdminKey: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
          description: Page size
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Opaque pagination cursor from a previous page's next_cursor
      responses:
        "200":
          description: One page of registered contracts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContractsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "500":
          description: Listing failed (including a malformed cursor)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/admin/contracts/{id}:
    delete:
      summary: Unregister a contract
      description: >-
        Remove a contract registration by its registration ID (the `id`
        returned at registration, not the contract address). Idempotent —
        deleting a non-existent registration still returns 204.
      operationId: deleteAdminContract
      tags:
        - Admin
      security:
        - AdminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Contract registration ID
      responses:
        "204":
          description: Registration removed (or never existed)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequestsIPOnly"
        "500":
          description: Delete failed (including a malformed registration ID)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/contracts/{id}/call:
    post:
      summary: Simulate a read-only contract call
      description: >-
        Simulate a contract function invocation via Soroban RPC and return
        the decoded result. Nothing is submitted to the network. Note the
        three success shapes: a simulation-level failure still returns HTTP
        200 with `success: false` and `error` set; a result that cannot be
        decoded returns `success: true` with only `raw_xdr`.
      operationId: callContract
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: "^C[A-Z2-7]{55}$"
          description: Contract address (C... strkey, 56 characters)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractCallRequest"
      responses:
        "200":
          description: >-
            Simulation completed (including simulation-level failures, which
            report success=false with an error message)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractCallResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: Request body exceeds the 1 MiB limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "502":
          description: Soroban RPC call failed or returned no result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/webhooks:
    get:
      summary: List webhook subscriptions
      description: >-
        Webhook subscriptions owned by the calling API key. Includes each
        subscription's signing secret. Returns JSON null (not an empty
        array) when the key owns no subscriptions. Webhook endpoints are not
        yet part of the frozen v1 surface; some of their error responses are
        plain text rather than the canonical error envelope.
      operationId: listWebhooks
      tags:
        - Webhooks
      responses:
        "200":
          description: Subscriptions owned by the calling key (null when none)
          content:
            application/json:
              schema:
                type: array
                nullable: true
                items:
                  $ref: "#/components/schemas/WebhookSubscription"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Listing failed (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          description: Database unavailable (plain-text body)
          content:
            text/plain:
              schema:
                type: string
    post:
      summary: Create a webhook subscription
      description: >-
        Subscribe a target URL to events from a contract. Target URLs must
        be https, resolve publicly, and not point at private, loopback,
        link-local, or metadata addresses. The returned secret signs every
        delivery. Note the camelCase field names — webhook endpoints predate
        the snake_case convention and are not yet part of the frozen v1
        surface.
      operationId: createWebhook
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookCreateRequest"
      responses:
        "201":
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookCreateResponse"
        "400":
          description: Invalid body or target URL (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          description: Request body exceeds the 1 MiB limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Creation failed (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          description: Database unavailable (plain-text body)
          content:
            text/plain:
              schema:
                type: string

  /v1/webhooks/{id}:
    delete:
      summary: Delete a webhook subscription
      description: >-
        Permanently delete a webhook subscription and stop its deliveries.
      operationId: deleteWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Subscription ID
      responses:
        "204":
          description: Subscription deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Subscription not found (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Delete failed (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/webhooks/{id}/rotate-secret:
    post:
      summary: Rotate a webhook signing secret
      description: >-
        Generate a new primary signing secret for the subscription, demoting
        the current one to secondary in the same statement so in-flight
        deliveries signed with the old secret still verify. Scoped to the
        caller's API key: rotating another tenant's subscription returns 404.
        Requires a database-backed API key; legacy env-hash authentication
        carries no key identity to scope ownership to.
      operationId: rotateWebhookSecret
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Subscription ID
      responses:
        "200":
          description: Secret rotated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookRotateSecretResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: >-
            No subscription with this ID belongs to the caller's API key
            (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Rotation failed (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/webhooks/{id}/pause:
    patch:
      summary: Pause webhook deliveries
      description: >-
        Pause deliveries for a subscription. Returns the paused status even
        when the ID matches no subscription (no existence check).
      operationId: pauseWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Subscription ID
      responses:
        "200":
          description: Deliveries paused
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Update failed (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/webhooks/{id}/resume:
    patch:
      summary: Resume webhook deliveries
      description: >-
        Resume deliveries for a paused subscription. Returns the resumed
        status even when the ID matches no subscription (no existence
        check).
      operationId: resumeWebhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Subscription ID
      responses:
        "200":
          description: Deliveries resumed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Update failed (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/webhooks/{id}/deliveries:
    get:
      summary: List recent webhook deliveries
      description: >-
        The 100 most recent delivery attempts for a subscription, newest
        first. Returns JSON null (not an empty array) when there are none.
      operationId: listWebhookDeliveries
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Subscription ID
      responses:
        "200":
          description: Recent delivery attempts (null when none)
          content:
            application/json:
              schema:
                type: array
                nullable: true
                items:
                  $ref: "#/components/schemas/WebhookDelivery"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Listing failed (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /v1/webhooks/{id}/dead-letters:
    get:
      summary: List dead-lettered deliveries
      description: >-
        Deliveries that exhausted their retries (status dead_lettered), up
        to 200, newest first. Always an array — empty when there are none.
      operationId: listWebhookDeadLetters
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Subscription ID
      responses:
        "200":
          description: Dead-lettered delivery attempts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebhookDelivery"
        "400":
          description: Missing webhook ID (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Listing failed (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          description: Database unavailable (plain-text body)
          content:
            text/plain:
              schema:
                type: string

  /v1/webhooks/{id}/dead-letters/{deliveryId}/replay:
    post:
      summary: Replay a dead-lettered delivery
      description: >-
        Re-attempt one dead-lettered delivery and record the outcome. The
        response reports the replay result in snake_case (unlike the other
        webhook endpoints).
      operationId: replayWebhookDeadLetter
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Subscription ID
        - name: deliveryId
          in: path
          required: true
          schema:
            type: string
          description: Numeric delivery ID from the dead-letters listing
      responses:
        "200":
          description: Replay attempted; success reflects the delivery outcome
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookReplayResponse"
        "400":
          description: Missing webhook or delivery ID (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No matching dead-lettered delivery (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          description: Replay failed to record (plain-text body)
          content:
            text/plain:
              schema:
                type: string
        "503":
          description: Database unavailable (plain-text body)
          content:
            text/plain:
              schema:
                type: string

  /metrics:
    get:
      summary: Prometheus metrics
      description: Exposes Prometheus-formatted metrics
      operationId: getMetrics
      tags:
        - Metrics
      security: []
      responses:
        "200":
          description: Prometheus metrics
          content:
            # Must match what handlers/stats.go actually sets, charset
            # included — the live contract suite compares the header verbatim.
            text/plain; version=0.0.4; charset=utf-8:
              schema:
                type: string

components:
  schemas:
    SorobanEvent:
      type: object
      additionalProperties: false
      required:
        - id
        - contract_id
        - ledger_sequence
        - ledger_timestamp
        - transaction_hash
        - event_index
        - event_type
        - topics
        - data
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique event identifier
        contract_id:
          type: string
          pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
        ledger_sequence:
          type: integer
          format: uint64
          description: Ledger sequence number
        ledger_timestamp:
          type: string
          format: date-time
          description: Ledger timestamp in ISO 8601 format
        transaction_hash:
          type: string
          description: Transaction hash (XDR-encoded)
        event_index:
          type: integer
          format: uint32
          description: Event index within transaction
        event_type:
          type: string
          enum: [contract, system, diagnostic]
          description: Type of event
        topics:
          type: array
          items:
            type: string
          description: Event topics (XDR-encoded)
        data:
          type: string
          description: Event data (XDR-encoded)
        created_at:
          type: string
          format: date-time
          description: Timestamp when event was indexed

    EventListResponse:
      type: object
      additionalProperties: false
      required:
        - events
        - has_more
        - next_cursor
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/SorobanEvent"
          description: List of events
        has_more:
          type: boolean
          description: Whether more results are available
        next_cursor:
          type: string
          nullable: true
          description: Opaque cursor for next page (null if has_more is false)

    LivenessResponse:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum: [ok]
          description: Always "ok" while the process is up — no dependency checks.

    ReadyChecks:
      type: object
      additionalProperties: false
      required:
        - postgres
        - redis
        - grpc_api
      properties:
        postgres:
          type: string
          description: '"ok" or "error: <message>"'
        redis:
          type: string
          description: '"ok" or "error: <message>"'
        grpc_api:
          type: string
          description: '"ok" or "error: <message>"'

    ReadyResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - indexer_lag
        - checks
      properties:
        status:
          type: string
          enum: [ok, degraded]
          description: '"degraded" when any dependency check in `checks` failed.'
        indexer_lag:
          type: integer
          format: int64
          nullable: true
          description: >-
            Ledgers behind chain tip, from system_state. Null when Postgres
            is unreachable or the chain-tip cache hasn't been populated yet.
        checks:
          $ref: "#/components/schemas/ReadyChecks"

    VersionResponse:
      type: object
      required:
        - version
        - commit_sha
        - build_timestamp
        - schema_version
      properties:
        version:
          type: string
          description: >-
            Semantic version tag of the running build, or "dev" for a binary
            built without release ldflags.
          example: v1.2.3
        commit_sha:
          type: string
          description: >-
            Full git commit SHA the binary was built from, or "unknown" when
            not injected at build time.
          example: 2e6ad17c8f9b4a1d3e5f7a9c2b4d6e8f0a1c3e5d
        build_timestamp:
          type: string
          description: >-
            RFC 3339 build time, or "unknown" when not injected at build
            time. Not typed as date-time because of that sentinel.
          example: "2026-08-26T15:19:00Z"
        schema_version:
          type: string
          nullable: true
          description: >-
            Highest applied migration version from _sqlx_migrations, as a
            string. Null when no migrations have been applied yet or when
            Postgres is unreachable — the endpoint still returns 200 in that
            case so build metadata stays available during an outage.

    IndexerStatsResponse:
      type: object
      additionalProperties: false
      required:
        - status
        - network
        - last_ledger_indexed
        - chain_tip_ledger
        - lag_ledgers
        - lag_seconds_estimated
        - events_indexed_total
        - events_last_poll
        - avg_poll_duration_ms
        - last_poll_at
      properties:
        status:
          type: string
          enum: [healthy, lagging, stalled]
          description: Indexer health status
        network:
          type: string
          description: Network name from NETWORK environment variable
        last_ledger_indexed:
          type: integer
          format: int64
          nullable: true
          description: Latest indexed ledger sequence
        chain_tip_ledger:
          type: integer
          format: int64
          nullable: true
          description: Current chain tip ledger (from RPC)
        lag_ledgers:
          type: integer
          format: int64
          nullable: true
          description: Number of ledgers behind chain tip
        lag_seconds_estimated:
          type: number
          format: double
          nullable: true
          description: >-
            Estimated wall-clock staleness in seconds: lag_ledgers times
            Stellar's protocol-target ledger close time (~5s). Null whenever
            lag_ledgers is null. See docs/observability/data-freshness.md for
            the full freshness contract this field is part of.
        events_indexed_total:
          type: integer
          format: int64
          nullable: true
          description: Cumulative events indexed
        events_last_poll:
          type: integer
          format: int32
          nullable: true
          description: Events processed in last poll
        avg_poll_duration_ms:
          type: integer
          format: int32
          nullable: true
          description: Average poll duration in milliseconds
        last_poll_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of last successful poll


    TokenMetadataResponse:
      type: object
      required:
        - contract_id
        - network
        - is_token
      properties:
        contract_id:
          type: string
          pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
        network:
          type: string
          enum: [testnet, mainnet]
          description: Network queried
        is_token:
          type: boolean
          description: >-
            True when the contract was resolved and implements the SEP-41
            read interface. False for both "not yet resolved" and "resolved,
            not a token".
        name:
          type: string
          nullable: true
          description: Token name, from name(). Null unless is_token is true.
        symbol:
          type: string
          nullable: true
          description: Token symbol, from symbol(). Null unless is_token is true.
        decimals:
          type: integer
          format: int32
          nullable: true
          description: Token decimals, from decimals(). Null unless is_token is true.
        resolved_at:
          type: string
          format: date-time
          nullable: true
          description: When this contract was last resolved. Null if never resolved.

    ContractEventSchemaResponse:
      type: object
      additionalProperties: false
      required:
        - contract_id
        - network
        - code_hash
        - events
      properties:
        contract_id:
          type: string
          pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
        network:
          type: string
          enum: [testnet, mainnet]
          description: Network queried
        code_hash:
          type: string
          description: Contract code hash for this schema version
        events:
          type: array
          items:
            $ref: "#/components/schemas/ContractEventSchema"
          description: Observed event names and their typed field schemas

    ContractEventSchema:
      type: object
      additionalProperties: false
      required:
        - event_name
        - fields
      properties:
        event_name:
          type: string
          description: Contract event name (topic_0)
        fields:
          type: array
          items:
            $ref: "#/components/schemas/ContractEventFieldSchema"
          description: Named fields for this event payload

    ContractEventFieldSchema:
      type: object
      additionalProperties: false
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: Stable field name for this event payload position or property
        type:
          type: string
          description: Field type inferred from the contract interface or observed payloads

    ContractSpecResponse:
      type: object
      additionalProperties: false
      required:
        - contract_id
        - network
        - code_hash
        - has_spec
        - contract_type
        - interfaces
        - functions
      properties:
        contract_id:
          type: string
          pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
        network:
          type: string
          enum: [testnet, mainnet]
          description: Network queried
        code_hash:
          type: string
          description: Deployed WASM code hash this spec was parsed from
        has_spec:
          type: boolean
          description: Whether an embedded contractspecv0 section was found
        contract_type:
          type: string
          description: Primary classification derived from detected interfaces (e.g. token, nft, custom)
        interfaces:
          type: array
          items:
            type: string
          description: Every standard interface detected from the contract's spec functions
        functions:
          type: array
          items:
            $ref: "#/components/schemas/ContractSpecFunction"
          description: Functions captured from the contract's spec

    ContractSpecFunction:
      type: object
      additionalProperties: false
      required:
        - name
      properties:
        name:
          type: string
          description: Exported function name

    ContractStorageResponse:
      type: object
      additionalProperties: false
      required:
        - contract_id
        - network
        - values
      properties:
        contract_id:
          type: string
          pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
        network:
          type: string
          enum: [testnet, mainnet]
          description: Network queried
        values:
          type: array
          items:
            $ref: "#/components/schemas/ContractStorageValue"
          description: Storage snapshot values (latest, or full history when queried via /storage/history)

    ContractStorageHistoryResponse:
      type: object
      required:
        - contract_id
        - network
        - storage_key
        - values
        - has_more
      properties:
        contract_id:
          type: string
          description: The contract whose storage history was queried
        network:
          type: string
          description: Network the contract is indexed on
        storage_key:
          type: string
          description: The storage key whose history was queried
        values:
          type: array
          items:
            $ref: "#/components/schemas/ContractStorageValue"
          description: Storage history entries, oldest first
        has_more:
          type: boolean
          description: Whether more pages are available
        next_cursor:
          type: string
          nullable: true
          description: Opaque cursor to pass as the cursor parameter for the next page

    ContractStorageValue:
      type: object
      additionalProperties: false
      required:
        - storage_key
        - key
        - value
        - ledger_sequence
        - observed_at
      properties:
        storage_key:
          type: string
          description: Base64-encoded XDR LedgerKey this value was read from
        key:
          description: Human-readable decoded storage key
        value:
          description: Human-readable decoded value (absent when the entry was removed)
        ledger_sequence:
          type: integer
          format: int64
          description: Ledger sequence at which this value was observed
        observed_at:
          type: string
          format: date-time
          description: Timestamp this snapshot row was recorded

    ContractStatsResponse:
      type: object
      additionalProperties: false
      required:
        - contracts
        - from_ledger
        - to_ledger
        - network
        - generated_at
        - has_more
      properties:
        contracts:
          type: array
          items:
            $ref: "#/components/schemas/ContractStats"
          description: Contracts sorted by event count (descending)
        from_ledger:
          type: integer
          format: int64
          description: Lower bound of queried ledger range
        to_ledger:
          type: integer
          format: int64
          description: Upper bound of queried ledger range
        network:
          type: string
          enum: [testnet, mainnet]
          description: Network queried
        generated_at:
          type: string
          format: date-time
          description: Timestamp when response was generated
        has_more:
          type: boolean
          description: Whether more pages are available
        next_cursor:
          type: string
          nullable: true
          description: Opaque cursor to pass as the cursor parameter for the next page

    ContractStats:
      type: object
      additionalProperties: false
      required:
        - contract_id
        - event_count
        - last_seen_ledger
        - last_seen_at
        - invocation_count
        - total_fee_charged
        - avg_fee_charged
        - avg_cpu_instructions
        - avg_read_bytes
        - avg_write_bytes
      properties:
        contract_id:
          type: string
          pattern: "^C[A-Z2-7]{55}$"
          description: Soroban contract address
        event_count:
          type: integer
          format: int64
          description: Total events for this contract in range
        last_seen_ledger:
          type: integer
          format: int64
          description: Latest ledger sequence for this contract
        last_seen_at:
          type: string
          format: date-time
          description: Timestamp of last event for this contract
        invocation_count:
          type: integer
          format: int64
          nullable: true
        total_fee_charged:
          type: integer
          format: int64
          nullable: true
        avg_fee_charged:
          type: number
          format: double
          nullable: true
        avg_cpu_instructions:
          type: number
          format: double
          nullable: true
        avg_read_bytes:
          type: number
          format: double
          nullable: true
        avg_write_bytes:
          type: number
          format: double
          nullable: true

    APIKeyResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - key_prefix
        - label
        - network
        - rate_limit_tier
        - last_used_at
        - request_count
        - created_at
      properties:
        id:
          type: string
          format: uuid
        key_prefix:
          type: string
        key:
          type: string
          description: Raw key, returned only at creation time.
        label:
          type: string
        network:
          type: string
          enum: [testnet, mainnet]
        rate_limit_tier:
          type: string
        created_by:
          type: string
        last_used_at:
          type: string
          format: date-time
          nullable: true
        request_count:
          type: integer
          format: int64
        revoked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    ListAPIKeysResponse:
      type: object
      additionalProperties: false
      required:
        - api_keys
        - has_more
        - next_cursor
      properties:
        api_keys:
          type: array
          items:
            $ref: "#/components/schemas/APIKeyResponse"
        has_more:
          type: boolean
          description: Whether another page is available.
        next_cursor:
          type: string
          nullable: true
          description: Opaque cursor for the next page (null if has_more is false).

    ListContractsResponse:
      type: object
      additionalProperties: false
      required:
        - contracts
        - has_more
        - next_cursor
      properties:
        contracts:
          type: array
          items:
            $ref: "#/components/schemas/ContractResponse"
        has_more:
          type: boolean
          description: Whether another page is available.
        next_cursor:
          type: string
          nullable: true
          description: Opaque cursor for the next page (null if has_more is false).

    AdminKeyUsageResponse:
      type: object
      additionalProperties: false
      required:
        - api_key_id
        - from
        - to
        - total_requests
        - successful_requests
        - by_endpoint
      properties:
        api_key_id:
          type: string
          format: uuid
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        total_requests:
          type: integer
          format: int64
        successful_requests:
          type: integer
          format: int64
          description: Requests with status code < 400
        by_endpoint:
          type: array
          description: Per-endpoint breakdown; empty when the window has no requests
          items:
            $ref: "#/components/schemas/EndpointUsage"
    EndpointUsage:
      type: object
      additionalProperties: false
      required:
        - endpoint
        - requests
        - avg_duration_ms
      properties:
        endpoint:
          type: string
        requests:
          type: integer
          format: int64
        avg_duration_ms:
          type: number
    ContractRegistrationRequest:
      type: object
      additionalProperties: false
      required:
        - contract_id
      properties:
        contract_id:
          type: string
          description: Contract address (C... strkey, 56 characters)
        network:
          type: string
          description: Network scope; omitted or empty means all networks
        label:
          type: string
          description: Human-readable label
        index_from:
          type: integer
          format: int64
          default: 0
          description: Ledger sequence to start indexing from
    ContractResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - contract_id
        - index_from
        - created_at
      properties:
        id:
          type: string
          format: uuid
        contract_id:
          type: string
          description: Stellar contract id (C... strkey).
        network:
          type: string
          nullable: true
        label:
          type: string
          nullable: true
        index_from:
          type: integer
          format: int64
          description: Ledger sequence indexing began from.
        created_at:
          type: string
          format: date-time

    ContractCallRequest:
      type: object
      additionalProperties: false
      required:
        - function
      properties:
        function:
          type: string
          description: Contract function name to invoke
        args:
          type: array
          maxItems: 32
          description: Base64-encoded XDR ScVal arguments, in order
          items:
            type: string
    ContractCallResponse:
      type: object
      additionalProperties: false
      required:
        - success
      properties:
        success:
          type: boolean
          description: >-
            False when the simulation itself reported a failure (still HTTP
            200)
        result:
          description: Decoded return value; omitted when undecodable or failed
        raw_xdr:
          type: string
          description: Raw base64 XDR of the return value; omitted on failure
        error:
          type: string
          description: Simulation error message; present only when success=false
    WebhookSubscription:
      type: object
      additionalProperties: false
      required:
        - id
        - contractId
        - targetUrl
        - createdAt
        - network
      properties:
        id:
          type: string
          format: uuid
        apiKeyId:
          type: string
          description: Omitted when empty
        contractId:
          type: string
        topic0:
          type: string
          nullable: true
          description: Topic filter; omitted when unfiltered
        targetUrl:
          type: string
        secret:
          type: string
          description: HMAC signing secret for deliveries; omitted when empty
        createdAt:
          type: string
          format: date-time
        pausedAt:
          type: string
          format: date-time
          nullable: true
          description: Present while deliveries are paused
        network:
          type: string
    WebhookCreateRequest:
      type: object
      additionalProperties: false
      required:
        - contractId
        - targetUrl
      properties:
        contractId:
          type: string
        topic0:
          type: string
          nullable: true
          description: Optional topic filter
        targetUrl:
          type: string
          description: >-
            Delivery target; must be https with a publicly resolvable,
            non-private host
        network:
          type: string
          default: testnet
    WebhookCreateResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - secret
        - targetUrl
        - contractId
        - network
      properties:
        id:
          type: string
          format: uuid
        secret:
          type: string
          description: HMAC signing secret — shown here and in the listing
        targetUrl:
          type: string
        contractId:
          type: string
        network:
          type: string
    WebhookDelivery:
      type: object
      additionalProperties: false
      required:
        - id
        - subscriptionId
        - eventId
        - attempt
        - attempts
        - status
        - deliveredAt
        - success
      properties:
        id:
          type: integer
          format: int64
        subscriptionId:
          type: string
          format: uuid
        eventId:
          type: string
        attempt:
          type: integer
        attempts:
          type: integer
        status:
          type: string
        statusCode:
          type: integer
          nullable: true
          description: HTTP status of the delivery attempt; omitted when none occurred
        responseBody:
          type: string
          description: Omitted when empty
        deliveredAt:
          type: string
          format: date-time
        success:
          type: boolean
    WebhookRotateSecretResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - secret
        - previousSecret
      properties:
        id:
          type: string
          format: uuid
        secret:
          type: string
          description: The new primary signing secret (whsec_ prefixed)
        previousSecret:
          type: string
          description: >-
            The demoted secret, now serving as secondary during the overlap
            window
    WebhookStatusResponse:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum:
            - paused
            - resumed
    WebhookReplayResponse:
      type: object
      additionalProperties: false
      required:
        - success
        - status
        - attempt
        - status_code
        - response_body
      properties:
        success:
          type: boolean
        status:
          type: string
          enum:
            - success
            - failed
        attempt:
          type: integer
        status_code:
          type: integer
          description: 0 when no HTTP response occurred
        response_body:
          type: string
          description: Truncated to 500 characters
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          type: object
          additionalProperties: false
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code (e.g., INVALID_ARGUMENT, INTERNAL, UNAVAILABLE, CONFLICT)
            message:
              type: string
              description: Human-readable error message
            request_id:
              type: string
              description: Request ID for debugging

  headers:
    X-RateLimit-Limit:
      description: >-
        Requests allowed per window for this API key's rate-limit tier.
        Present on every response from an endpoint secured by ApiKeyAuth
        (2xx and 429 alike) once a valid X-API-Key was presented.
      required: true
      schema:
        type: integer
        minimum: 0
      example: 50

    X-RateLimit-Remaining:
      description: >-
        Requests remaining in the current window for this API key. 0 on the
        response that triggers a 429.
      required: true
      schema:
        type: integer
        minimum: 0
      example: 12

    X-RateLimit-Reset:
      description: >-
        Unix timestamp (seconds) when the current rate-limit window resets.
      required: true
      schema:
        type: integer
        format: int64
      example: 1732900000

    Retry-After:
      description: >-
        Seconds to wait before retrying. Present on 429 (rate limit
        exceeded, per-API-key or per-IP) and on 503 responses caused by the
        global concurrency cap shedding load. Not present on a 503 caused by
        an unavailable dependency (database/Redis/gRPC backend) — check the
        error envelope's `error.code` to distinguish the two.
      schema:
        type: integer
        minimum: 1
      example: 1

    X-Cache:
      description: >-
        Whether this response was served from the Redis response cache
        (HIT) or freshly computed (MISS). Only emitted by endpoints that
        cache their response.
      required: true
      schema:
        type: string
        enum: [HIT, MISS]
      example: HIT

    Idempotent-Replayed:
      description: >-
        Present and set to "true" only when this response was replayed from
        a prior request carrying the same Idempotency-Key (issue #225).
        Absent on the original (first) execution.
      required: false
      schema:
        type: string
        enum: ["true"]
      example: "true"

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Requested resource was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    RateLimitExceeded:
      description: >-
        Rate limit exceeded for this API key's tier (error.code
        RATE_LIMITED). Carries the same X-RateLimit-* headers as a
        successful response (X-RateLimit-Remaining is 0) plus Retry-After.
      headers:
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
        Retry-After:
          $ref: "#/components/headers/Retry-After"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    TooManyRequestsIPOnly:
      description: >-
        Per-IP rate limit exceeded (error.code RATE_LIMITED). Applies to
        endpoints not covered by per-API-key limiting (public endpoints, or
        admin endpoints authenticated via ADMIN_API_KEY rather than
        X-API-Key) — only Retry-After is set, no X-RateLimit-* headers.
      headers:
        Retry-After:
          $ref: "#/components/headers/Retry-After"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ServiceUnavailable:
      description: >-
        Service temporarily unavailable — either a dependency (database,
        Redis, gRPC backend) is down, or the server is shedding load under
        the global concurrency cap. When load-shedding is the cause,
        Retry-After is set; otherwise it is absent.
      headers:
        Retry-After:
          $ref: "#/components/headers/Retry-After"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Conflict:
      description: >-
        The supplied Idempotency-Key was already used with a request that
        does not match this one (error.code CONFLICT). Retry with a new key,
        or resend the exact original request body to get the original
        response replayed instead (issue #225).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: >-
        Opt-in de-duplication for retried create requests (issue #225). A
        retry carrying the same key and an identical request body replays
        the original response (see the `Idempotent-Replayed: true` response
        header) instead of creating a second resource. The same key reused
        with a different body is rejected with 409 Conflict. Keys are
        remembered for 24 hours; max length 255 characters.
      schema:
        type: string
        maxLength: 255
      example: 7da8f2b1-2e3c-4b8a-9f0d-6a1e5c3d9b7f

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication

    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Admin key for admin endpoints (environment variable)

tags:
  - name: System
    description: System and health endpoints
  - name: Events
    description: Event querying and streaming
  - name: Statistics
    description: Analytics and statistics endpoints
  - name: API Keys
    description: API key management (admin only)
  - name: Admin
    description: Admin endpoints
  - name: Metrics
    description: Monitoring and metrics
  - name: Contracts
    description: Contract schema, spec, storage, and simulation endpoints
  - name: Webhooks
    description: Webhook subscriptions and delivery management (not yet part of the frozen v1 surface)
